p:hover {
    cursor: pointer;
}

.time{
    text-decoration: none;
}

.task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-top : 10px;
    padding-bottom: 10px;
}

#task-list{
    width: 100%;
}

#work-list{
    width: 100%;
}

#urgent-list{
    width: 100%;
}
#ControlSelect{
    background-color: #c2c2c2;
    color: black;
}

.notification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5 !important;
    background-color: #1f283885;
    visibility: hidden;
    }

.box-notification{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.noti{
    margin-left: 20px !important;
    margin-right: 20px !important;
}



.name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search{
    width: 100% !important;
    margin-right: 30px;
    background-color: #c2c2c2;
    
}
#input{
    background-color: #c2c2c2;
}

::placeholder{
    color: black;
}

.custom-control-input:checked + .custom-control-label::before {
    background-color:  orange !important;
  } 
  
  .custom-switch.custom-switch-lg .custom-control-label {
    padding-left: 30px;
    height: 100% !important;
    width: 200px !important;
    margin-bottom: 20px !important;
}
.custom-control-label{
    display: flex !important;
    align-items: center !important;
    margin-top: 0.25rem;
}
.custom-switch.custom-switch-lg{
    height: 100% !important;
}

.custom-switch.custom-switch-lg .custom-control-label::before {
    height: 2rem;
    width: calc(3rem + 0.75rem);
    border-radius: 4rem;
    
}

.custom-switch.custom-switch-lg .custom-control-label::after {
    width: calc(2rem - 4px);
    height: calc(2rem - 4px);
    border-radius: calc(3rem - (2rem / 2));
}

.custom-switch.custom-switch-lg .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(calc(2rem - 0.25rem));
}


#inputField{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
    height: 40px;
    width: 100% ;
    margin-bottom: 30px;
}

#inputField input{
    height: 100%;
    width: 55%;
    border-radius: 5px !important;
    box-shadow: none;
}

.btn-info{
    margin: 5px;
    height: 100%;
    width: 10%;
    background-color: orange !important;
    border-color: orange !important;
}

.btn-info:hover, .btn-info:active, .btn-info:focus {
    color: #ffffff !important;
    background-color: #1F2838 !important;
    border-color: #494F57 !important;
    outline: none !important;
    box-shadow: none !important;
  }


#ControlSelect{
    width : 20%;
    height: 100%;
    margin: 10px;
}

.task-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.group-text{
    width: 100%;
    text-align: center;
    background-color: rgb(34, 34, 34);
    height: 40px;
    margin: 0 auto;
    border-radius: 5px;
    padding-top: 5 px;
}

.box{
    width: 30vw;
    border: 1px solid rgb(255, 196, 0);
    border-radius: 5px;
    margin-inline: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

body{
    padding: 10%;
    background-color: rgb(59, 59, 59) !important;
    color: rgb(255, 166, 0) !important;
    position: relative !important;
    z-index: 0 !important;
}

.name{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 20px;
    height: 100px;
}

.task-text{
    font-size: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.timestamp{
    font-size: 20px;
    margin: 0;
    padding-left: 20px;
}

.deleteButton{
    margin-left: 20px;
    width : 40px;
}

#spinner{
    font-size: 50px;
}


#spinner:hover{
    cursor: default;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: animation-duration 0.5s ease-out;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}